@media only screen and (orientation: landscape) {
    body {
        background-color: #f4f4f4;
    }
}

body, html { margin: 0; padding: 0;}

button {
	color:black;
    background: #ffd400;
	font-size: .6em;
    border: none;
    width: 100%;
    border-radius: 3px;
    font-size: .9em;
    padding: .6em .9em;
}

.jumbotron {
  background: #ffd400;
  margin-bottom: 0px;
}

.jumbotron .h1 {
    font-weight: bold;
    font-size: 64px;
}

.category {
	border: 1px solid #ffd400;
    padding: 6px;
	color: black;
	border-radius: 4px;
    background: #ffd400;
}

.cart-container {
    background: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
}

.summary-container {
    padding-top: 20px;
}

.filter-container {
    background: white;
    padding: 10px;
}

.cart-total {
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.hr {
    border-bottom: 2px solid gray;
}

.ingredients {
    color: gray;
}

.btn-remove {
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.success {
    font-size: 14px;
    color: green;
    word-break: break-word;
}

.inputBox {
  height: 30px;
  width: 100%;
  color: #222;
  border: solid 1px #88b0c0;
  border-radius: 3px;
  padding: 6px;
  font-size: 13px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.original-price {
    text-decoration: line-through;
    color: red;
}

.discounted-price {
    color: green;
}