@media only screen and (orientation: landscape) {
    body {
        background-color: #f4f4f4;
    }
}

body, html { margin: 0; padding: 0; }

.jumbotron {
  background: greenyellow;
}

.cart-container {
    background: white;
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px;
}

.cart-total {
    font-size: 32px;
    font-weight: bold;
    color: #3fb083;
}

.hr {
    border-bottom: 2px solid gray;
}