.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: lightgray;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: black;
  font-weight: bold;
}

.App-intro {
  font-size: large;
}

.clockStyle {
  float: right;
  font-size: medium;
  color: black;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
